:root {
    --primary-color: #00af9a;  
    --secondary-color: #1c220a; 
    --accent1-color: #ca5afa;
    --accent2-color: #8a2d3e;
    
    --heading-font: 'Boldonse', serif;
    --paragraph-front: 'Merriweather', sans-serif;
}

body {
    font-family: var(--paragraph-front);
}

header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 1fr 1fr;
	align-items: flex-end;
	max-width: 1000px;
}

.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}

h1 {
	font-size: 2rem;
	font-family: 'Boldonse', serif;
}

.navigation {
    float: right;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	font-family: 'Boldonse', serif;
    background-color: #fff;
}

.navigation li {
	flex: 1 1 auto;
}

.navigation a {
	display: flex;
    justify-content: center;
	color: navy;
	padding: 20px;
	text-decoration: none;
	font-size: 1.2rem;
}

.navigation a:hover {
	color: #ca5afa;
	font-weight: 700;
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

a {
    text-decoration: none;
}

header, main, footer {
    max-width: 1200px;
    margin: 0 auto;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
}

.hero h1 {
    position: absolute;
    top: 1em;
    left: 2rem;
    right: 2rem;
    text-align: center;
    padding: .5rem;
    background-color: #ffffff61;
}

.hero article {
    background-color: #ffffff61;
    position: absolute;
    top: 9rem;
    left: 2rem;
    right: 2rem;
    padding: 2rem;
}

.hero article img {
    float: right;
    max-width: 13rem;
}

.hero article p {
    color: var(--secondary-color);
}

.sone { 
    margin: 50px 0;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 20px;
    align-items: center;
    text-align: justify;
}

.sone h2 {
    grid-column: 1/-1;
    justify-self: center;
    padding: 1em 0;
}
.sone img {
    grid-column: 2/3;
    grid-row: 2;
}

.sone-section p:first-of-type {
    grid-column: 1/2;
    grid-row: 2;
    padding: 0 20px;
}

.sone-section p:last-of-type {
    grid-column: 3/4;
    grid-row: 2;
    padding: 0 20px;
}
.stwo {
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
    justify-items: center;
}

.stwo h2 {
    grid-column: 1/-1;
    justify-self: center;
    padding: 1em 0;
}

.stwo img {
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px grey;
}

figure:nth-of-type(odd) {
    background-color: var(--accent1-color);
    color: var(--nav-link-color);
    align-self: center;
}

figcaption {
    text-align: center;
    padding: 1em 0;
}

footer {
    background-color: #3e3e3e;
    color: #fff;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 2rem;
}

.end {
    display: flex;
    justify-content: flex-end;
}

.sociallinks {
    grid-column: 3;
    justify-self: end;
}

.sociallinks img {
    width: 3em;
    grid-column: 3;
}