:root {
    --primary-color: #00af9a;  
    --secondary-color: #1c220a; 
    --accent1-color: #ca5afa;
    --accent2-color: #8a2d3e;
    
    --heading-font: 'Boldonse', serif;
    --paragraph-front: 'Merriweather', sans-serif;
}

body {
    font-family: var(--paragraph-front);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

a {
    text-decoration: none;
}

header, main, footer {
    max-width: 1200px;
    margin: 0 auto;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
}

.hero h1 {
    position: absolute;
    top: 1em;
    left: 2rem;
    right: 2rem;
    text-align: center;
    padding: .5rem;
    background-color: #ffffff61;
}

.hero article {
    background-color: #ffffff61;
    position: absolute;
    top: 9rem;
    left: 2rem;
    right: 2rem;
    padding: 2rem;
}

.hero article img {
    float: right;
    max-width: 13rem;
}

.hero article p {
    color: var(--secondary-color);
    /* font-size: 1.5rem;
    padding: 1rem;
    font-weight: 500; */
}

footer {
    background-color: #3e3e3e;
    color: #fff;
    display: grid;
    grid-template-columns: 2fr 1fr 1 fr;
    padding: 2rem;
}

.social {
    grid-column: 3;
    justify-self: end;
}

.social img {
    width: 3em;
    grid-column: 3;
}