:root {
    --heading-backgroung-color: #00af9a; 
    --heading-text-color: #8a2d3e;  
    --heading-font: 'Boldonse';
    --paragraph-background-color: #1c220a;  
    --paragraph-text-color: #ca5afa; 
    --paragraph-font: 'Merriweather';
    --padding: 1rem;
    --border: 1 px solid rgb (0 0 0 / 0.1); 
}

a {
    text-decoration: none;
}

.hero img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
}

article {
    position: absolute;
    background-color: white;
    opacity: 1;
}

article img {
    float: right;
}

section {
    position: relative;
}